<!DOCTYPE html>
<html>
<head>
	<title>Weather &amp; Status</title>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
	<script data-main="static/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.js"></script>
</head>
<body>
	<div class="greeting">Hello Leland</div>
	<div class="flex-container">
		<div class="column">
		</div>
		<div class="column">
		</div>
		<div class="column">
		</div>
	</div>

</body>
</html>
